<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>点击状态栏回到顶部.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E8B595881DCA27BD00FD5304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8B595A11DCA27BD00FD5304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8B595AC1DCA27BD00FD5304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
